<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IncluirTesteServlet</servlet-name>
        <servlet-class>Controle.Portal.IncluirTesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controle.Portal.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controle.Portal.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPainel</servlet-name>
        <servlet-class>Controle.Painel.LoginPainelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>Entidade.Painel.Impl.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>Controle.Painel.ProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncluirTesteServlet</servlet-name>
        <url-pattern>/Incluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPainel</servlet-name>
        <url-pattern>/LoginPainel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>painel_produto_incluir.jsp</welcome-file>
        <welcome-file>index_painel.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
