/* CSS Document */

.body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#CCC;
	}

.clear{
	clear:both;
	}

#topo {
	width:100%;
	height:100px;
	background-color:#fff;
	float:none;
	}
	
#logo{
	margin-top:-110px;
	margin-left:0px;
	width:140px;
	height:173px;
	float:none;
	top:0px;
	}
	
#menu_super {
	height:50px;
	background-color:#000;
	margin-top:-80px;
	float:none;
	}
	
#menu_lateral{
	float:left;
	width:200px;
	margin-top:25px;
	border:1px solid #9BBA1E;
	background-color:#FFFFFF;
	margin-left:10px;
	}
	
#conteudo{
	width:69%;
	margin-left:220px;
	margin-top:25px;
	background-color:#FFFFFF;
	border:1px solid #9BBA1E;
	}
	
#conteudo_login{
	width:69%;
	height:450px;
	margin-left:220px;
	margin-top:25px;
	background-color:#FFFFFF;
	background-image:url(../imagens/marca_dagua2.gif);
	background-position:right;
	background-repeat:no-repeat;
	border:1px solid #9BBA1E;
	margin-bottom:5px;
	}
	
#conteudo_tela_painel{
	width:69%;
	height:450px;
	margin-left:200px;
	margin-top:15px;
	background-color:#FFFFFF;
	background-image:url(../imagens/marca_dagua2.gif);
	background-position:right;
	background-repeat:no-repeat;
	border:1px solid #9BBA1E;
	}
	

	
#promocao{
	margin-left:20px;
	margin-top:-450px!important;
	float:right;
	margin-right:12px;
	margin-bottom:-60px;
	}
	
#promocao_loja{
	margin-left:20px;
	margin-top:-600px!important;
	float:right;
	margin-right:12px;
	margin-bottom:-60px;
	}
	
#rodape{
	text-align:center;
	background-color:#9BBA1E;
	margin-top:0px;
	}

.barNav a {
	font: 12px  Arial, Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color: #9BBA1E;
	text-decoration: none;
	text-align: center;
	padding: 18px 15px;
	margin-right:1px;
	float:right;
	}

.barNav a:hover {
	color: #fff;
	}


#painel{
	width:130px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	margin-right:15px;
	}

#carrinho{
	width:120px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	margin-right:15px;
	}
	
#login{
	width:80px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	margin-right:20px;
	}
	
#cadastro{
	width:160px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	margin-right:20px;
	}



.setaLink{
	cursor:pointer;
	text-decoration:none;
	}	

.menu li{
	list-style:none;
	margin:0px 0px 0px 5px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	}
	
.tituloMenu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#9BBA1E;
	}

.fonteItenMenu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	}


.descProduto{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	}	

#banner_topo{
	background-color:#999999;
	height:180px;
	width:98%;
	margin-top:20px;
	margin-left:1%;
	margin-right:1%;
	}
	
.texto_opcoes{
	 vertical-align:middle!important;
	 padding-bottom:34px!important;
	 margin-left:5px;
	 }

#tabela_login{
	padding-top:160px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:bold;
	}
	
#tabela_cadastro{
	padding-top:60px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:bold;
	}
	
.botao{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:bold;
	background-color:#999999;
	}
	
.botao_cliente{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-align:right;
	background-color:#9BBA1E;
	}
	
.obrigatorio{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	font-weight:bold;
	}

#localizador{
	margin-top:-1px;
	margin-bottom:-15px;
	background-color:#9BBA1E;
	height:20px;
	}

.texto_localizador{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	padding-left:15px;
	margin-top:15px;
	}
	
	
	
	/*-------ICONES DO PAINEL DE CONTROLE-----------------------------------------------------------------------*/
#sair{
	width:80px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	margin-right:15px;
	}

#relatorios{
	width:140px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	}
	
#publicidade{
	width:130px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	}
	
#clientes{
	width:120px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	}
	
#pedidos{
	width:100px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	}
	
#produtos{
	width:100px;
	float:right;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9BBA1E;
	text-align:center;
	}
	
#painel_topo{
	float:right;
	margin-top:15px;
	margin-right:40px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#9BBA1E;
	text-align:center;
	font-weight:bold;
	}
	
.fonteCategorias{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold
	}
	
	
#conteudo_painel{
	width:69%;
	height:460px;
	margin-left:200px;
	margin-top:5px;
	background-color:#FFFFFF;
	background-position:right;
	background-repeat:no-repeat;
	border:1px solid #9BBA1E;
	}
	
#tabela_painel{
	}
	
#tabela_painel th{
	background-color:#9bba1e;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	}
	
#tabela_painel td{
	border:1px #999999 solid;
	border-spacing:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	}
	
	
#tabela_painel_control{
	}
	
#tabela_painel_control th{
	background-color:#9bba1e;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	}
	
#tabela_painel_control td{
	border-spacing:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	}
	
.sem_borda{
	border:none!important;
	}
	
.alinha_centro{
	text-align:center;
	}
	
#icone_tree{
	width:85px;
	margin-left:65px;
	padding-bottom:-30px;
	margin-right:200px;
	}
	
#icone_tree_painel{
	float:right;
	margin-right:30px;
	margin-top:-94px;
	}
	
.fonte_titulo{
	background-color:#9bba1e;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	}
